language: ruby
branches:
  only:
  - master
rvm:
- 2.5.3
cache: bundler
bundler_args: "--jobs=3 --retry=3 --without production"
matrix:
  fast_finish: true
script:
- sh script/travis.sh
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  verbose: true
  on:
    branch: master
